<ion-header>

  <ion-toolbar>

    <ion-title routerLink="/home">
      Create Campaign
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <form
    [formGroup]="campaignForm">

    <ion-item>

      <ion-label
        position="stacked">

        Campaign Title

      </ion-label>

      <ion-input
        formControlName="campaignTitle">
      </ion-input>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        Description

      </ion-label>

      <ion-textarea
        formControlName="description">
      </ion-textarea>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        Category

      </ion-label>

      <ion-select
        formControlName="category">

        <ion-select-option value="Fashion">
          Fashion
        </ion-select-option>

        <ion-select-option value="Tech">
          Tech
        </ion-select-option>

        <ion-select-option value="Food">
          Food
        </ion-select-option>

        <ion-select-option value="Beauty">
          Beauty
        </ion-select-option>

      </ion-select>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        Platform

      </ion-label>

      <ion-select
        formControlName="platform">

        <ion-select-option value="Instagram">
          Instagram
        </ion-select-option>

        <ion-select-option value="YouTube">
          YouTube
        </ion-select-option>

        <ion-select-option value="Twitter">
          Twitter
        </ion-select-option>

      </ion-select>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        Budget Per Influencer

      </ion-label>

      <ion-input
        type="number"
        formControlName="budgetPerInfluencer">
      </ion-input>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        Total Slots

      </ion-label>

      <ion-input
        type="number"
        formControlName="totalSlots">
      </ion-input>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        Start Date

      </ion-label>

      <ion-input
        type="date"
        formControlName="startDate">
      </ion-input>

    </ion-item>

    <ion-item>

      <ion-label
        position="stacked">

        End Date

      </ion-label>

      <ion-input
        type="date"
        formControlName="endDate">
      </ion-input>

    </ion-item>

    <ion-button
      expand="block"
      (click)="createCampaign()">

      Create Campaign

    </ion-button>

    @if (message) {
  <p>
    {{ message }}
  </p>
}

@if (errorMessage) {
  <p>
    {{ errorMessage }}
  </p>
}
  </form>

</ion-content>