ion-content.home-page {
	--padding-top: 12px;
	--padding-bottom: 12px;
	--padding-start: 12px;
	--padding-end: 12px;
}

ion-segment {
	margin: 0 0 12px;
}

ion-card {
	margin: 0 0 12px;
}

ion-item {
	--padding-start: 0;
	--inner-padding-end: 0;
	margin-bottom: 8px;
}

ion-text p {
	margin: 8px 0 0;
}
